streamlit==1.25.0
torch==2.3.0
numpy==1.26.4
easyocr==1.7.0
opencv-python-headless==4.7.0.68
Pillow==9.4.0
requests==2.32.0
beautifulsoup4==4.12.3
aiofiles==23.2.1
Jinja2==3.1.2
Flask==3.0.3
Flask-Cors==4.0.0
python-dotenv==1.0.1
pytesseract==0.3.10
